/downloaded_images/
/test/
**/__pycache__/
translated_manhwa.zip
generate-ascii-tree.py
mmtl_launcher.exe
launcher.exe
nuitka.bash
*.build
*.dist
*.onefile-build
nuitka-crash-report.xml
legacy/
clean.bat
test.py
.venv/
pyqt5
docs-site-guide.md
initmodels.py
retry-update.bat
test_torch
minimal_module
*temp*
test_updater