Brotli==1.1.0
inflate64==1.0.3
multivolumefile==0.2.3
packaging==25.0
psutil==7.1.0
py7zr==1.0.0
pybcj==1.0.6
pycryptodomex==3.23.0
pyppmd==1.2.0
PySide6==6.9.2
PySide6_Addons==6.9.2
PySide6_Essentials==6.9.2
pyzstd==0.17.0
QtAwesome==1.4.0
QtPy==2.4.3
shiboken6==6.9.2
texttable==1.7.0
typing_extensions==4.15.0
