QPushButton {
    background-color: var(--primary);
    border: none;
    border-radius: var(--border_radius_xlarge);
}
QPushButton:hover {
    background-color: var(--secondary);
}
QPushButton:pressed {
    background-color: var(--tertiary);
}