QWidget {
    background-color: #2B2B2B;
    padding: 20px;
    border: none;
    border-top-right-radius: 20px;
}
QPushButton {
    background-color: #3E3E3E;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 8px var(--padding_xxlarge);
    border: none;
    font-size: 14px;
    min-height: 40px;
}
QPushButton:hover {
    background-color: #4f4f4f;
}