#RightWidget {
    background-color: #2A2A2A;
    border: none;
    border-top-left-radius: 50px;
}
QWidget {
    background-color: #2A2A2A;
    border: none;
}
/* Buttons style */
QPushButton {
    background-color: #3A3A3A;
    color: #FFFFFF;
    border: none;
    padding: 8px;
    border-radius: 20px;
}
QPushButton:hover {
    background-color: #4A4A4A;
}
QPushButton:pressed {
    background-color: #2A2A2A;
}